body {
  background-color: #12141D;
  color: #d9d9d9;
  margin: 0 50px;
}

p {
  font-size: 20px;
  color: #d9d9d9;
}

footer > li > img {
  width: 50px;
}

/*Home*/
.title {
  color: #6D5E5E;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 34px;
}

/*Sobre mi*/
.aboutMe {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #d9d9d9;
  margin: 50px;
}

.apps {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 100px;
}

.aboutMe > p > span {
  color: aqua;
  text-transform: uppercase;
}

/*Proyectos*/
.boton {
  background-color: #d9d9d9;
  border: 5px solid #3438BD;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  color: #3438BD;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  margin: 20px;
  transition: all 0.5s;
}
.boton:hover {
  transform: translate("10px");
  background-color: #3438BD;
  color: #d9d9d9;
}

@keyframes desplazar {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}
.caja {
  animation-name: desplazar;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  background-color: #12141D;
}

/*Trabajos 1-2*/
.grid-container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 10px;
}

.problema {
  font-size: 18px;
  color: #d9d9d9;
  font-weight: lighter;
  margin-right: 50px;
}
.problema h5 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 34px;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}
.problema p {
  margin: 20px 0px;
}

.clasificacion {
  font-size: 18px;
  font-style: italic;
}

.contenido {
  margin: 20px 0px;
  font-weight: lighter;
  font-size: 18px;
}
.contenido h5 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 34px;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}

.imagen {
  display: flex;
  justify-content: center;
}

/*Contacto*/
.content-form {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapped {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
.content-wrapped > * {
  padding: 1em;
}

.contact-form {
  background-color: #282a32;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form .block {
  grid-column: 1/3;
}
.contact-form form p {
  margin: 0px;
  padding: 1em;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #3438BD;
  color: #d9d9d9;
}
.contact-form form button {
  background: #3438BD;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px;
}

.contact-info {
  background-color: #07080c;
}
.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact-info ul {
  list-style: none;
  padding: 0;
}

/*Media Queries*/
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .problema {
    margin-right: 0;
  }
  .problema h5 {
    margin-top: 30px;
  }
  .contenido h5 {
    margin-top: 30px;
  }
  .grid-container > .mock-up1 {
    align-self: center;
  }
}
@media (min-width: 700px) {
  .content-wrapped {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .content-wrapped > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}

/*# sourceMappingURL=estilo.css.map */
