/*Proyectos*/

.boton {
  background-color: $color-fuentes;
  border: 5px solid $color-botones;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  color: $color-botones;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  margin: 20px;
  transition: all 0.5s;

  &:hover {
    transform: translate('10px');
    background-color: $color-botones;
    color: $color-fuentes;
  }
}

@keyframes desplazar{
  from{
    transform: translateY(-300px);
  }
  to{
    transform: translateY(0);
  }
}

.caja{
  animation-name: desplazar;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  background-color: $color-fondo;
}